<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2>
                        160 results found for: <span class="text-navy">"Toyota"</span>
                    </h2>
        
               <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" value="Toyota" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

                    <div class="hr-line-dashed"></div>
                    <div class="search-result">
                        <h3>Toyota Etios Liva</h3>
                      
                        <p>
                            5 - 7.21 lakh
                        </p>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="search-result">
                        <h3>Toyota Etios</h3>
                        <p>
                            5 - 7.21 lakh
                        </p>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="search-result">
                        <h3>Toyota Corrolla</h3>
                        
                        <p>
                          5 - 7.21 lakh

                        </p>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="search-result">
                        <h3>Toyota Cruise</h3>
                    
                        <p>
                           
                          5 - 7.21 lakh
                        </p>
                    </div>
                    <div class="hr-line-dashed"></div>
                    
                    <div class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-white" type="button"><i class="glyphicon glyphicon-chevron-left"></i></button>
                            <button class="btn btn-white">1</button>
                            <button class="btn btn-white  active">2</button>
                            <button class="btn btn-white">3</button>
                            <button class="btn btn-white">4</button>
                            <button class="btn btn-white">5</button>
                            <button class="btn btn-white">6</button>
                            <button class="btn btn-white">7</button>
                            <button class="btn btn-white" type="button"><i class="glyphicon glyphicon-chevron-right"></i> </button>
                        </div>
                    </div>
                </div>